
.user{
    text-align: end;
}

@media screen {

    .main {  display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 5fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0.4em 0.4em;
        grid-auto-flow: column;
        grid-template-areas:
          "php_content publi"
          "chatbot chatbot";
      }
      
      .php_content { grid-area: php_content; }
      
      .chatbot { grid-area: chatbot; }
      
      .publi { grid-area: publi; }
    
}

@media (width <= 320px) {

    .main {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0.1em 0.1em;
        grid-auto-flow: column;
        grid-template-areas:
          "php_content"
          "chatbot"
          "publi";
      }
      
      .php_content { grid-area: php_content; }
      
      .chatbot { grid-area: chatbot; }
      
      .publi { grid-area: publi; }

}


.publi {
    margin: 0.5em;
}

.chatbot {
    margin: 0.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "input_text" "icono_bot";
}

.chat_icon {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
    padding-right: 20px; /* Ajusta el espaciado derecho */
}

#toggleChat {
    margin-left: auto; /* Mueve el botón de chatbox a la derecha */
    text-align: end;
}

#chat_presentation {
    padding-left: 20px;
}

